__pycache__/
*.py[cod]
*$py.class
*.so
.Python

develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

docker-compose*
.env
backend/.env
backend/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

backend/model/


*.log
*.wav
*.mp3

.coverage
htmlcov/
.pytest_cache/
extras/
models_1/
music_env/